.card {
    width: 290px;
    box-shadow: 2px 8px 21px -2px;
    border-radius: 10px;
    background-color: white;
}

.cardName {
    padding: 0;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0;
}

.cardInfo {
    text-align: center;
}